*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 95%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    width: 700px;
    height: 400px;
    display: flex;

}

.section{
    padding: 35px;
    display: flex;
    flex-direction: column;

}

.section:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.section:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.section:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button{
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 14px;
    text-align: center;
    font-family:'Lexend Deca', sans-serif ;
    transition: all 0.2s;
    border: 2px solid white;

}

.section:nth-child(1) > .button{
    color:hsl(31, 77%, 52%);
}

.section:nth-child(2) > .button{
    color: hsl(184, 100%, 22%);
}

.section:nth-child(3) > .button{
    color:hsl(179, 100%, 13%);
}

.button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white !important;
    cursor: pointer;
    transition: all 0.2s;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    letter-spacing: 2px;
    color: hsl(0, 0%, 95%);
    margin-top: 20px;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: small;
    margin-top: 20px;
    flex-grow: 1;
    line-height: 21px;
}


    

